<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExpoArqui_II.Properties.Settings.BD_FotosConnectionString"
            connectionString="Data Source=ASUSX540U;Initial Catalog=BD_Fotos;Persist Security Info=True;User ID=sa;Password=47031682"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>